<%- include('partials/header', {title: ''}) %> 


      <div class="card card-body text-center m-5">
        <p>Welcome friend of Bill! Create an account or login</p>
        <a href="/register" class="btn btn-primary mb-2" >Register</a>
        <a href="/login" class="btn btn-secondary">Login</a>
      </div>

<%- include('partials/footer') %> 