.nightlyReview__container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 35px;
}

.nightlyReview a.nightly-review-link.custom-btn.btn--green {
  margin-top: 40px;
  font-size: 14px;
}

a.inventory__detail-link {
  display: block;
}

.nightlyReview__card {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 15px;
  padding: 25px;
  text-align: center;
  border-radius: 3px;
  box-shadow: var(--box-shadow);
  transition: transform 0.3s;
  width: 20%;
  height: 220px;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 600;
  min-width: 320px;
}

a.nightly-review-link.custom-btn.btn--green {
  padding: 8px 18px;
  color: #fff;
}

/*** HOVERS ***/
@media (hover: hover) {
  .nightly-review-link:hover {
    color: #fff;
  }
}

@media only screen and (max-width: 600px) {
  .nightlyReview a.nightly-review-link.custom-btn.btn--green {
    display: block;
    margin: 0 auto;
    max-width: 119px;
    margin-top: 100px;
  }
}

@media only screen and (max-width: 326px) {
  .nightlyReview__card {
    width: 95%;
    min-width: unset;
  }
}
