.dailyReflection {
    padding: 50px;
    font-family: 'Lato', sans-serif;
}

.dailyReflection__title {
    font-size: 30px;
    margin-bottom: 15px;
    font-weight: 600;
}

.dailyReflection__p1 {
    font-size: 20px;
    font-weight: 500;
}

.dailyReflection__pageNum {
    font-size: 16px;
    font-style: italic;
}

p.dailyReflection__p2 {
    font-size: 20px;
}

@media only screen and (max-width: 697px) {
    .dailyReflection__title {
        font-size: 22px;
    }
}

@media only screen and (max-width: 525px) {
    .dailyReflection {
        padding: 50px 15px;
    }
}

@media only screen and (max-width: 425px) {
    .dailyReflection__p1,
    p.dailyReflection__p2 {
        font-size: 17px;
    }
}

@media only screen and (max-width: 376px) {
    .dailyReflection-header {
        font-size: 20px;
    }

    h3.soberDate__enter-date-text {
        text-align: center;
    }
}

