.soberDate__welcome-message {
    text-align: center;
    text-transform: capitalize;
}

.soberDate__enter-date {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

input#soberDate {
    padding: 5px 10px;
    border-radius: 100px;
    font-size: 16px;
}

.soberDate-btn {
    display: block;
    margin-top: 15px;
}

.soberDate__form-control {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.soberDate__soberStats {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
}

.soberDate__soberStats--time {
    border-radius: 3px;
    padding: 10px 75px;
    margin-top: 15px;
    text-align: center;
}

.soberDate__soberStats--soberDate > strong {
    display: inline-block;
}

@media only screen and (max-width: 1000px) {
    .soberDate__soberStats--time {
        box-shadow: 0 0px 15px rgb(0 0 0 / 15%);
    }

    .soberDate__soberStats--time {
        border: 1px solid #000;
    }
}

@media only screen and (max-width: 706px) {
    .soberDate {
        margin-top: 70px;
    }
}

@media only screen and (max-width: 600px) {
    .soberDate {
        margin-top: 100px;
    }
}

@media only screen and (max-width: 486px) {
    .soberDate__soberStats--soberDate {
        text-align: center;
    }

    .soberDate__soberStats {
        padding: 0 10px;
    }
}

